#main.container {
    width: 40%;
    height: 50%;

    position: absolute;
    left: 30%;
    top: 20%;
}
.tab {
    width: 95%;
    height: 15%;

    position: absolute;
    top: 0%;
    left: 2.5%;

    border-bottom: 1px solid lightgray;
}
#info.container {
    width: 40%;
    height: 100%;

    position: absolute;
    left: 0%;
    top: 0%;
    
    background-color: rgba(255, 255, 255, .9);
}
#auth.container {
    width: 60%;
    height: 100%;

    position: absolute;
    right: 0%;
    top: 0%;

    background-color: rgb(255, 255, 255, .9);
    border: 0.5px solid lightgray;
    border-left: none;
}
.logo {
    width: 195%;
    height: 1.65rem;

    position: absolute;
    top: 4.2%;
    left: -48.6%;

    text-align: center;
}
#signup.message {
    width: 95%;

    position: absolute;
    top: 35%;
    left: 2.5%;

    text-align: center;
}
#free.message {
    width: 95%;

    position: absolute;
    top: 60%;
    left: 2.5%;

    text-align: center;
}
.button {
    width: 50%;
    height: 15%;

    position: absolute;
    left: 25%;

    /* background-color: salmon; */
    background-color: rgb(253, 149, 2);
    /* background-color: orange; */
    /* background-color: rgb(253, 125, 1); */

    font-size: 1.2rem;
    color: white;

}
div.onload > #signup.button {
    top: 65%;
}
div.onload > #login.button {
    top: 30%;
}
form {
    width: 90%;
    height: 50%;

    position: absolute;
    top: 20%;
    left: 5%;
}
input {
    width: 70%;
    height: 20%;

    position: absolute;
    left: 12%;

    font-size: 14px;
    padding-left: 14px;
}
#pw.input {
    top: 50%;
}
#un.input {
    top: 15%;
}
div#auth.container > .button {
    width: 70%;

    top: 66%;
    left: 15%;
}
div.tab > button {
    width: 54%;
    height: 100%;

    background-color:royalblue;
    color: white;
}
div.tab > #signup.button {
    left: 49%;
}
div.tab > #login.button {
    left: -3%;
}