#profile.container {
    width: 95%;
    height: 97%;

    position: absolute;
    left: 1%;
    top: 2%;
}
#topic.container {
    width: 35%;
    height: 100%;

    position: absolute;
    left: 0%;
    top: 0%;

    background-color: rgba(135, 206, 235, .9);
}
div#topic > .app-name {
    top: 2%;
}
#enter.message {
    width: 90%;

    position: absolute;
    top: 9%;
    left: 5%;

    font-size: 1.3rem;
    text-align: center;
}
#article-search {
    width: 85%;
    height: 7%;

    position: absolute;
    top: 18%;
    left: 7.5%;
}
div#topic > form > input {
    width: 50%;
    height: 90%;

    position: absolute;
    left: 0%;
    top: 0%;

    font-size: 18px;
}
#search.button {
    width: 35%;
    height: 100%;

    position: absolute;
    left: 65%;
    top: 0%;

    background-color: goldenrod;
}
#topic-list.container {
    width: 80%;
    height: 65%;
    overflow-y: auto;

    position: absolute;
    left: 10%;
    top: 33%;
}
.topic {
    height: 15%;
    width: 100%;

    background-color: salmon;
    color: white;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 2.5em;

    border-radius: 10px;
    margin-bottom: 15px;
}
#article.container {
    width: 63%;
    height: 100%;
    overflow-y: auto;
    overflow-x: 0;

    position: absolute;
    left: 38%;
    top: 0%;

    background-color: rgba(211, 211, 211, .7);
    /* background-color: rgba(218, 165, 32, .4); */
    /* background-color: rgba(250, 128, 114, .4); */
}
.article {
    width: 96%;
    border-radius: 5px;

    position: relative;
    top: 0px;
    left: 3px;

    margin-left: 0.5%;
    padding-left: 1%;
    padding-right: 1%;

    background-color: white;
}
div.article > div.color-bar {
    width: 102%;
    height: 10px;

    position: relative;
    top: -13px;
    left: -8px;

    background-color: royalblue;
}
div.article > a {
    text-decoration: none;
}
div.article > a > h2 {
    position: relative;
    top: -22px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 34px;
    color: black;
}
div.article > div.source {
    width: fit-content;  
    position: relative;
    top: -42px;

    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
    padding-right: 5px;

    background-color: ghostwhite;
    color: salmon;
}
div.article > p {
    position: relative;
    top: -10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.85rem;

    color: slategray;
}
.is-liked {
    visibility: hidden;
}